* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --background: #1a1b1c;
  --bg-input: #26292c;

  --blue-600: #2563eb;
  --blue-400: #60a5fa;
  --blue-900: #1e3a8a;


  --dark-blue-900: #02001b;

  --white: #f0f0f0;
}

body {
  color: var(--white);
  /* background-color: var(--background); */

  background-color: #1a1b1c;
  background-image: linear-gradient(180deg, var(--background) 20%, var(--blue-900) 75%);
}
